.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(135deg,#0273d4,#0143a3);
    height: 50px; 
}

.menu-text {
    color: white !important;
}