<!---->
<div class="ng-tns-c12-2  nav-left-side">
  <div class="docs-component-viewer-nav">
    <div class="docs-component-viewer-nav-content">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form Controls
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul
            class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion"
            id="panel-forms"
            style="display: block;"
          >
            <!---->
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" [routerLink]="['/components', 'button']" routerLinkActive="active">Button</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a class="ng-tns-c14-25" (click)="onComponentClick('input')">Input</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/datepicker"
                >Check box</a
              >
            </li>
          </ul>
        </nav>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buttons & Indicators
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul
            class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion"
            id="panel-forms"
            style="display: block;"
          >
            <!---->
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/autocomplete"
                >Button</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/checkbox"
                >Input</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/datepicker"
                >Check box</a
              >
            </li>
          </ul>
        </nav>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Navigation
          </mat-panel-title>
        </mat-expansion-panel-header>

        <nav>
          <ul
            class="ng-tns-c14-25 ng-trigger ng-trigger-bodyExpansion"
            id="panel-forms"
            style="display: block;"
          >
            <!---->
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/autocomplete"
                >Button</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/checkbox"
                >Input</a
              >
            </li>
            <li class="ng-tns-c14-25 ">
              <a
                class="ng-tns-c14-25"
                routerlinkactive="docs-component-viewer-sidenav-item-selected"
                href="/components/datepicker"
                >Check box</a
              >
            </li>
          </ul>
        </nav>
      </mat-expansion-panel>
    </div>
  </div>
</div>
