<cxlib-nav-header></cxlib-nav-header>
<div class="page-container">
  <mat-sidenav-container
    class="docs-component-viewer-sidenav-container mat-drawer-container mat-sidenav-container"
  >
    <div class="mat-drawer-backdrop ng-star-inserted"></div>
    <mat-sidenav-content
      cdkscrollable=""
      class="test mat-drawer-content mat-sidenav-content ng-star-inserted"
    >
      <div class="docs-component-sidenav-content">
        <div class="docs-component-sidenav-inner-content">
          <div class="docs-component-sidenav-body-content">
            <cxlib-nav-left></cxlib-nav-left>
            <cxlib-docs-viewer></cxlib-docs-viewer>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="footer-container">
  <cxlib-nav-footer></cxlib-nav-footer>
</div>
