.page-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 50px - 94px);
    overflow: auto;
}

.hierarchical-tree {
    position: relative;
}

.test.mat-drawer-content {
    height: 100%;
}

.footer-container {
    width: 100%
}