<cxlib-docs-viewer>
  <div contentFirst>
    <p>Native <code>&lt;button&gt;</code> and <code>&lt;a&gt;</code> elements are always used in order to provide the
      most straightforward
      and accessible experience for users. A <code>&lt;button&gt;</code> element should be used whenever some
      <em>action</em>
      is performed. An <code>&lt;a&gt;</code> element should be used whenever the user will <em>navigate</em> to
      another view.
    </p>
  </div>
  <nav table-of-content>
    <a href="/components/button/overview#theming" class="docs-level-h2 docs-link">
      Theming
    </a>
    <a href="/components/button/overview#capitalization" class="docs-level-h2 docs-link">
      Capitalization
    </a>
    <a href="/components/button/overview#accessibility" class="docs-level-h2 docs-link">
      Accessibility
    </a>
  </nav>
  <div contentSecond>
    <p>bbbb</p>

  </div>
  <div contentThird>
    <p>cccc</p>

  </div>
</cxlib-docs-viewer>